/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled), summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
  --color-text: #fbfbfb;
  --color-joke-text: #5076ea;
  --color-slot: #fcc800;
  --color-border: #eb3c14;
  --color-grey: #bfbfbf;

  
	
}

@media (prefers-color-scheme:dark) {
	:root {
    --color-text: #fff;
    --color-joke: #000;
	}
}
/****************/
/* JOUW STYLING */
/****************/
section {
  background-color: var(--color-slot);
  height: 27em;
  width: 20em;
  margin: auto;
  border-radius: 5em 5em .5em .5em;
  border: .4em solid var(--color-border);
}

h1 {
  display: block;
  text-align: center;
  font-size: 1.4em;
  color: var(--color-text);
  border-radius: 5em 5em 0em 0em;
  margin-top: 2em;
}

p{
  text-align: center;
  font-size: 1em;
  background-color: var(--color-text);
  color: var(--color-joke-text);
  word-wrap: break-word;
  padding: 2.5em;
  margin: 2.5em 1em;
  
}

button{
  display: block;
  font-size: clamp(.9em, 2vw,1.2em);
  color: var(--color-text);
  background-color: var(--color-joke-text);
  border: none;
  border-radius: .2em;
  padding: .5em 1em;
  margin: auto;
  margin-top: 3em;
}