/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled), summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eeeeee;
  --color-block:#fff;
	--color-button: #6079f3;
  --color-joke: #9ca9ea;
}

/****************/
/* JOUW STYLING */
/****************/
body{
  background-color: var(--color-background);
}

div{
  width: 25em;
  padding: .7em .7em;
  border-radius: .8em;
  background-color: var(--color-block);
  margin: auto;
  margin-top: 1em;
}

h1{
  display: block;
  text-align: center;
  margin-top: 1em;
  color: var(--color-text);
  font-size: 1.5em;
}

button{
  display: block;
  align-items: center;
  font-size: 1em;
  color: var(--color-background);
  background-color: var(--color-button);
  border: none;
  border-radius: .5em;
  padding: .5em 1em;
  margin: auto;
}

button :hover{
  background-color: var(--color-joke);
}

p{
  font-size: 1em;
  background-color: var(--color-joke);
  color: var(--color-background);
  word-wrap: break-word;
  width: 20em;
  border-radius: .8em;
  margin: auto;
}

.kleur{
  margin-top: 1em;
  padding: .8em 1em;
}

#favorites {
  width: 25em;
  padding: .7em .7em;
  border-radius: .8em;
  background-color: var(--color-block);
  margin: auto;
  margin-top: 1em;
}

#favorites h2 {
  text-align: center;
  margin-top: 1em;
  color: var(--color-text);
  font-size: 1.2em;
}

#favorites p {
  background-color: var(--color-joke);
  color: var(--color-background);
  word-wrap: break-word;
  width: 20em;
  border-radius: .8em;
  margin: .5em auto;
}


