/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled), summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eeeeee;
	--color-button: #6079f3;
}



/****************/
/* JOUW STYLING */
/****************/

body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);

  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5em;
}

button {
  background-color: var(--color-button);
	border: none;
	color: var(--color-background);
	padding: .5em 2em;
  font-size: 1.2em;
	border-radius: .5em;
}

span span {
  position: relative;
  width: 22em;
}

span span span:first-of-type {
  width: 15em;
  height: .5em;
  top: 5em;
  transform: rotate(15deg);
  background-color: var(--color-text);
}

span span span:nth-of-type(2) {
  width: 15em;
  height: .5em;
  top: 10em;
  transform: rotate(-15deg);
  background-color: var(--color-text);
}

span span span:nth-of-type(3) {
  width: 15em;
  height: .5em;
  top: 15em;
  transform: rotate(15deg);
  background-color: var(--color-text);
}

span span span:nth-of-type(4) {
  width: 15em;
  height: .5em;
  top: 20em;
  transform: rotate(-15deg);
  background-color: var(--color-text);
}

span span span:nth-of-type(5) {
  width: 15em;
  height: .5em;
  top: 25em;
  transform: rotate(15deg);
  background-color: var(--color-text);
}

span span span:nth-of-type(6) {
  width: 20em;
  height: .5em;
  top: 32em;
  background-color: var(--color-button);
}




